.share{
    width: 100%;
    height: 170px;
    border-radius: 10px;
    -webkit-box-shadow: -2px 1px 6px 4px rgba(216,215,219,0.99); 
box-shadow: -2px 1px 6px 4px rgba(0,0,0,0.68);

}
.shareWrapper{
    padding: 10px;
}
.shareTop{
    display: flex;
    align-items: center;

}
.shareProfileImg{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}
.shareInput{
    border: none;
    width: 80%;

}
.shareInput:focus{
    outline: none;
}
.shareHr{
    margin: 20px;
}
.shareBottom{
    display: flex;
    align-items: center;
    justify-content: space-between
}
.shareOptions{
   display: flex;
   margin-left: 15px;

}
.shareOption{
    display: flex;
    cursor: pointer;
    align-items: center;
    margin-right: 35px;

}
.shareIcon{
    margin-right: 5px;

}
.shareOptiontext{
    font-size: 13px;
    font-weight: 500;
}
.shareButton{
    border: none;
    padding: 6px;
    font-size: 15px;
    border-radius: 5px;
    background-color: rgb(4, 108, 4);
    cursor: pointer;
    font-weight: 500;
    margin-right: 20px;
    color: white;
}
